
.login-form-input{
    width: 400px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;

}

.login-button {
    display: block;
    margin: auto;
    background-color:#ff99ff;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 0 2px 5px 0 #999999;
    margin-top: 20px;
}